.popup__title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin: 0 0 45px;
}

@media screen and (max-width: 640px) {
  .popup__title {
    font-size: calc(18px + (24 - 18) * ((100vw - 480px) / (640 - 480)));
    line-height: calc(22px + (29 - 22) * ((100vw - 480px) / (640 - 480)));
    margin: 0 0 65px;
  }
}

@media screen and (max-width: 480px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
  }
}
