.cards__list {
  list-style: none;
  display: grid;
  grid: repeat(2, 1fr)/repeat(3, 1fr);
  gap: 17px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 940px) {
  .cards__list {
    max-width: 582px;
    grid: repeat(2, 1fr)/repeat(2, 1fr);
    justify-items: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 640px) {
  .cards__list {
    grid: repeat(2, 1fr)/1fr;
    gap: 18px;
  }
}
