.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .footer__copyright {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (800 - 320)));
    line-height: calc(17px + (22 - 17) * ((100vw - 320px) / (800 - 320)));
  }
}
