.popup__error {
  display: block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #ff0000;
  margin: 0;
  opacity: 1;
  padding: 3px 0 5px;
  min-height: 24px;
}
